Source: gcompris-qt
Section: education
Priority: optional
Maintainer: Debian Qt Extras Team <debian-qt-kde@lists.debian.org>
Uploaders: Simon Quigley <tsimonq2@ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 11),
               dh-buildinfo,
               extra-cmake-modules,
               libqt5sensors5-dev,
               libqt5svg5-dev,
               libqt5xmlpatterns5-dev,
               pkg-kde-tools,
               qml-module-qtgraphicaleffects,
               qml-module-qtmultimedia,
               qt5-qmake,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.1.3
Homepage: http://gcompris.net/
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde-extras/gcompris-qt
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde-extras/gcompris-qt.git

Package: gcompris-qt
Architecture: any
Depends: gcompris-qt-data (= ${source:Version}),
         qml-module-qtgraphicaleffects,
         qml-module-qtmultimedia,
         qml-module-qtquick-controls,
         qml-module-qtquick-particles2,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libqt5multimedia5-plugins
Description: Educational games for small children - Qt rewrite
 A large collection of educational games for small children, designed
 to be a unified interface to integrate more educational games.
 .
 This is the rewrite of GCompris using Qt Quick technology.

Package: gcompris-qt-data
Architecture: all
Depends: ${misc:Depends}
Recommends: gcompris-qt (= ${source:Version})
Description: data files for gcompris-qt
 GCompris is a collection of educational games for small children.
 .
 This package contains the definitions of these standard boards, along
 with associated images.
